{% extends 'admin/admin.html.twig' %}
{% block head %}
{% block title %}Categorie index{% endblock %}
{% endblock %}

{% block body %}
    {% block container %}
        <div class="m-4">
    <h1>Gestion des catégories </h1>

    <table class="table">
        <thead>
        <tr>
            <th>identifiant</th>
            <th>nom de la catégorie</th>
            <th>Categorie parente</th>
        </tr>
        </thead>
        <tbody>

        {% for categorie in categories %}

                <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                {% if categorie.parentCategorie %}
                    <td> {{categorie.parentCategorie.name}}</td>
                    {% endif %}
            </tr>

        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie à afficher</td>
            </tr>


        {% endfor %}
        </tbody>
    </table>

    <a role="button" class="btn btn-success mr-3" href="{{ path('categorie_new') }}">Créer une nouvelle catégorie </a>
    </div>
        </div>
        {% endblock %}
{% endblock %}
{#

       <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>
                    <a role="button" class="btn btn-secondary mr-3" href="{{ path('categorie_show', {'id': categorie.id}) }}">Afficher</a>
                    <a role="button" class="btn btn-secondary mr-3" href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                    <a role="button" class="btn btn-danger mr-3" href="{{ path('categorie_delete', {'id': categorie.id}) }}">Supprimer</a>
                </td>
            </tr>
#}
