{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Prix total</th>
        </tr>
        <tbody>
            {% set total = 0 %}
            {% for produit in panier %}
                <tr>
                    <td>{{ produit.image }}</td>
                    <td>{{ produit.name }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>{{ produit.price }}</td>
                    <td>{{ produit.price * produit.quantite }}</td>
                    {% set total = total + (produit.price * produit.quantite) %}
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
