{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    {% if not (app.user)  %}
<section class="section-main bg padding-y-sm">
    <div class="container">
        <div class="card">

            <h3 class="center"> Votre panier est vide, ajouter des produits à votre panier !</h3>
            <img  class="center" src="/images/logos/panier.png"  width="300">
    </div>
    </div>
</section>
    {% else %}
<section class="section-main bg padding-y-sm">
    <div class="container">
        <div class="card">
    <table class="table">
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Prix total</th>
        </tr>
        <tbody>
            {% set total = 0 %}
            {% for produit in panier %}
                <tr>
                    <td class="w-25"><img src="/images/products/{{ produit.image }}" class=" img-thumbnail"></td>
                    <td>{{ produit.name }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>{{ produit.price }}</td>
                    <td>{{ produit.price * produit.quantite }}</td>
                    {% set total = total + (produit.price * produit.quantite) %}
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</section>
        {% endif %}

        {% endblock %}
