{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-main bg padding-y-sm">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row row-sm">
                        <aside class="col-md-3">
                            <h5 class="text-uppercase">Nos catégories</h5>
                            <ul class="menu-category">
                                {% for categorie in categories %}
                                    <li><a href="/menu/{{ categorie.slug }}"> {{ categorie.name }} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside> <!-- col.// -->
                        <div class="col-md-6">
                            <!-- ================= main slide ================= -->
                            <div class="owl-init slider-main owl-carousel" data-items="1" data-nav="true"
                                 data-dots="false">
                                <div class="item-slide">
                                    <img src="assets/img/macbook.jpg">
                                </div>
                                <div class="item-slide">
                                    <img src="assets/img/ipad.jpg">
                                </div>
                                <div class="item-slide">
                                    <img src="assets/img/airpods.jpg">
                                </div>
                            </div>
                            <!-- ============== main slideshow .end // ============= -->

                        </div> <!-- col.// -->
                        <aside class="col-md-3">

                            <h6 class="title-bg bg-secondary"> Meilleurs séléctions</h6>
                            <div style="height:280px;">
                                <figure class="itemside has-bg border-bottom" style="height: 33%;">
                                    <img class="img-bg" src="images/items/4.png">
                                    <figcaption class="p-2">
                                        <h6 class="title"> {{ products.0.name }} </h6>
                                        <a href="#">{{ products.0.price }}</a>
                                    </figcaption>
                                </figure>

                                <figure class="itemside has-bg border-bottom" style="height: 33%;">
                                    <img class="img-bg" src="images/items/4.png" height="80">
                                    <figcaption class="p-2">
                                        <h6 class="title">{{ products.0.name }} </h6>
                                        <a href="#">{{ products.0.price }}</a>
                                    </figcaption>
                                </figure>
                                <figure class="itemside has-bg border-bottom" style="height: 33%;">
                                    <img class="img-bg" src="images/items/4.png" height="80">
                                    <figcaption class="p-2">
                                        <h6 class="title">{{ products.0.name }} </h6>
                                        <a href="#">{{ products.0.name }}</a>
                                    </figcaption>
                                </figure>
                            </div>

                        </aside>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
            </div> <!-- card.// -->

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->


    <!-- ========================= SECTION CONTENT ========================= -->
    {% for categorie in categories %}
    <section class="section-content padding-y-sm bg">
        <div class="container">

            <header class="section-heading heading-line">
                <h4 class="title-section bg">{{ categorie.name }}</h4>
            </header>
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <article href="#" class="card-banner h-100 bg2">
                            <div class="card-body zoom-wrap">
                                <h5 class="title">Achetez votre smartphone aux meilleurs prix </h5>
                                <p> Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, cLorem ipsum dolor sit
                                    amet, cLorem ipsum dolor sit amet, c</p>
                                <a href="#" class="btn btn-secondary">Explore la catégorie </a>
                                <img src="images/items/4.png" height="200" class="img-bg zoom-in">
                            </div>
                        </article>

                    </div> <!-- col.// -->

                            <div class="col-md-9">
                                <ul class="row no-gutters border-cols">

                                    {% for product in products %}
                                    {% if  loop.index <= 4 %}

                                    <li class="col-6 col-md-3">
                                        <a href="#" class="itembox">
                                            <div class="card-body">
                                                <p class="word-limit">{{ product.name }}  </p>
                                                <img class="img-sm" src="/images/products/{{product.image.path}}">
                                            </div>
                                        </a>
                                        <span>
                                    <a href="#" class="btn btn-secondary add-to-cart" id="{{ product.id }}"
                                       data-name="{{ product.name }}" data-price="{{ product.price }}"
                                       data-image="{{ product.image ? product.image.path : '#' }}"
                                    >
                                        Ajouter au Panier
                                    </a>
                                </span>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <ul class="row no-gutters border-cols">

                                    {% for product in products %}
                                        {% if  loop.index <= 4 %}

                                            <li class="col-6 col-md-3">
                                                <a href="#" class="itembox">
                                                    <div class="card-body">
                                                        <p class="word-limit">{{ product.name }}  </p>
                                                        <img class="img-sm" src="/images/products/{{product.image.path}}">
                                                    </div>
                                                </a>
                                                <span>
                                    <a href="#" class="btn btn-secondary add-to-cart" id="{{ product.id }}"
                                       data-name="{{ product.name }}" data-price="{{ product.price }}"
                                       data-image="{{ product.image ? product.image.path : '#' }}"
                                    >
                                        Ajouter au Panier
                                    </a>
                                </span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div> <!-- col.// -->


                </div> <!-- row.// -->

            </div> <!-- card.// -->

        </div> <!-- container .//  -->
    </section>
    {% endfor %}
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <!-- ========================= SECTION CONTENT ========================= -->
  {#  <section class="section-content padding-y-sm bg">
        <div class="container">

            <header class="section-heading heading-line">
                <h4 class="title-section bg text-uppercase">{{ categories.1.name }}</h4>
            </header>

            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">

                        <article href="#" class="card-banner h-100 bg2">
                            <div class="card-body zoom-wrap">
                                <h5 class="title">Trouvez une tablette pour vous et vous enfants </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. </p>
                                <a href="#" class="btn btn-secondary">Explore la catégorie</a>
                                <img src="images/items/4.png" height="200" class="img-bg zoom-in">
                            </div>
                        </article>

                    </div> <!-- col.// -->
                    <div class="col-md-9">
                        <ul class="row no-gutters border-cols">
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">{{ products.0.name }} </p>
                                        <img class="img-sm" src="images/items/4.png">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">{{ products.0.name }}</p>
                                        <img class="img-sm" src="images/items/4.png">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">{{ products.0.name }}</p>
                                        <img class="img-sm" src="images/items/4.png">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">{{ products.0.name }}</p>
                                        <img class="img-sm" src="images/items/4.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="row no-gutters border-cols">
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">{{ products.0.name }}</p>
                                        <img class="img-sm" src="images/items/4.png">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">{{ products.0.name }}</p>
                                        <img class="img-sm" src="images/items/4.png">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">{{ products.0.name }}</p>
                                        <img class="img-sm" src="images/items/4.png">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">{{ products.0.name }}</p>
                                        <img class="img-sm" src="images/items/4.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card.// -->

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->#}








    <!-- ========================= Les plus vendues  ========================= -->
    <section class="section-request bg padding-y-sm">
        <div class="container">
            <header class="section-heading heading-line">
                <h4 class="title-section bg text-uppercase">Les plus vendues</h4>
            </header>

            <div class="row-sm">

                {% for product in products %}
                    <div class="col-md-3">
                        <figure class="card card-product">
                            <div class="img-wrap"><img src="/images/products/{{product.image.path}}"></div>
                            <figcaption class="info-wrap">
                                <h6 class="title "><a href="#">{{ product.name }} </a></h6>
                                <div class="price-wrap">
                                    <span class="price-new">Prix: {{ product.price }}</span></br>
                                    <span class="price-old">Marque: {{ product.marque.name }}</span></br>
                                    <span>
                                    <a href="#" class="btn btn-secondary add-to-cart" id="{{ product.id }}"
                                       data-name="{{ product.name }}" data-price="{{ product.price }}"
                                       data-image="{{ product.image ? product.image.path : '#' }}"
                                    >
                                        Ajouter au Panier
                                    </a>
                                </span>
                                </div> <!-- price-wrap.// -->
                            </figcaption>
                        </figure> <!-- card // -->
                    </div> <!-- col // -->
                {% endfor %}

            </div> <!--//row-->


        </div><!-- container // -->
    </section>
    <!-- ========================= SECTION ITEMS .END// ========================= -->



    <!-- ========================= SECTION SUBSCRIBE ========================= -->
    <section class="section-subscribe bg-secondary padding-y-lg">
        <div class="container">

            <p class="pb-2 text-center white">Abonnez vous aux news letters afin de recevoir tous nos nouveaux
                produits </p>

            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-sm-6">
                    <form class="row-sm form-noborder">
                        <div class="col-8">
                            <input class="form-control" placeholder="Votre adresse Email" type="email">
                        </div> <!-- col.// -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-block btn-dark"><i class="fa fa-envelope"></i>
                                Souscrire
                            </button>
                        </div> <!-- col.// -->
                    </form>
                </div> <!-- col-md-6.// -->
            </div>


        </div> <!-- container // -->
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}