{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y-sm">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row row-sm">
                    <aside class="col-md-3">
                        <h5 class="text-uppercase">Nos catégories</h5>
                        <ul class="menu-category">
                            {% for categorie in categories %}
                                <li> <a href="{{ categorie.name }}"> {{ categorie.name }}</a></li>
                            {% endfor %}
                        </ul>

                    </aside> <!-- col.// -->
                    <div class="col-md-6">
                        <!-- ================= main slide ================= -->
                        <div class="owl-init slider-main owl-carousel" data-items="1" data-nav="true" data-dots="false">
                            <div class="item-slide">
                                <img src="images/banners/slide1.jpg">
                            </div>
                            <div class="item-slide">
                                <img src="images/banners/slide2.jpg">
                            </div>
                            <div class="item-slide">
                                <img src="images/banners/slide3.jpg">
                            </div>
                        </div>
                        <!-- ============== main slidesow .end // ============= -->

                    </div> <!-- col.// -->
                    <aside class="col-md-3">

                        <h6 class="title-bg bg-secondary"> Meilleurs séléctions</h6>
                        <div style="height:280px;">
                            <figure class="itemside has-bg border-bottom" style="height: 33%;">
                                <img class="img-bg" src="images/items/item-sm.png">
                                <figcaption class="p-2">
                                    <h6 class="title">One request, many offers </h6>
                                    <a href="#">Good link</a>
                                </figcaption>
                            </figure>

                            <figure class="itemside has-bg border-bottom" style="height: 33%;">
                                <img class="img-bg" src="images/items/1.jpg" height="80">
                                <figcaption class="p-2">
                                    <h6 class="title">One request, many offers </h6>
                                    <a href="#">Good link</a>
                                </figcaption>
                            </figure>
                            <figure class="itemside has-bg border-bottom" style="height: 33%;">
                                <img class="img-bg" src="images/items/2.jpg" height="80">
                                <figcaption class="p-2">
                                    <h6 class="title">One request, many offers </h6>
                                    <a href="#">Good link</a>
                                </figcaption>
                            </figure>
                        </div>

                    </aside>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->

    </div> <!-- container .//  -->
</section>
    <!-- ========================= SECTION MAIN END// ========================= -->


    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y-sm bg">
        <div class="container">

            <header class="section-heading heading-line">
                <h4 class="title-section bg">MACHINERY</h4>
            </header>

            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">

                        <article href="#" class="card-banner h-100 bg2">
                            <div class="card-body zoom-wrap">
                                <h5 class="title">Machinery items for manufacturers</h5>
                                <p>Consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, cLorem ipsum dolor sit amet, c</p>
                                <a href="#" class="btn btn-warning">Explore</a>
                                <img src="images/items/item-sm.png" height="200" class="img-bg zoom-in">
                            </div>
                        </article>

                    </div> <!-- col.// -->
                    <div class="col-md-9">
                        <ul class="row no-gutters border-cols">
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Home and kitchen electronic  stuff collection  </p>
                                        <img class="img-sm" src="images/items/1.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Kitchen equipments collection</p>
                                        <img class="img-sm" src="images/items/2.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Accessiries and other good items</p>
                                        <img class="img-sm" src="images/items/3.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Techs, Electronics</p>
                                        <img class="img-sm" src="images/items/4.jpg">
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="row no-gutters border-cols">
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Home and kitchen electronic stuff </p>
                                        <img class="img-sm" src="images/items/1.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Kitchen equipments collection</p>
                                        <img class="img-sm" src="images/items/2.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Accessiries and other good items</p>
                                        <img class="img-sm" src="images/items/3.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Techs, Electronics</p>
                                        <img class="img-sm" src="images/items/4.jpg">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card.// -->

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y-sm bg">
        <div class="container">

            <header class="section-heading heading-line">
                <h4 class="title-section bg text-uppercase">Food & Beverage</h4>
            </header>

            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">

                        <article href="#" class="card-banner h-100 bg2">
                            <div class="card-body zoom-wrap">
                                <h5 class="title">Good equipments for cooking food and cakes</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. </p>
                                <a href="#" class="btn btn-warning">Explore</a>
                                <img src="images/items/item-sm.png" height="200" class="img-bg zoom-in">
                            </div>
                        </article>

                    </div> <!-- col.// -->
                    <div class="col-md-9">
                        <ul class="row no-gutters border-cols">
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Home and kitchen electronic  stuff collection  </p>
                                        <img class="img-sm" src="images/items/1.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Kitchen equipments collection</p>
                                        <img class="img-sm" src="images/items/2.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Accessiries and other good items</p>
                                        <img class="img-sm" src="images/items/3.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Techs, Electronics</p>
                                        <img class="img-sm" src="images/items/4.jpg">
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="row no-gutters border-cols">
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Home and kitchen electronic stuff </p>
                                        <img class="img-sm" src="images/items/1.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Kitchen equipments collection</p>
                                        <img class="img-sm" src="images/items/2.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Accessiries and other good items</p>
                                        <img class="img-sm" src="images/items/3.jpg">
                                    </div>
                                </a>
                            </li>
                            <li class="col-6 col-md-3">
                                <a href="#" class="itembox">
                                    <div class="card-body">
                                        <p class="word-limit">Techs, Electronics</p>
                                        <img class="img-sm" src="images/items/4.jpg">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card.// -->

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->



    <!-- ========================= SECTION ITEMS ========================= -->
    <section class="section-request bg padding-y-sm">
        <div class="container">
            <header class="section-heading heading-line">
                <h4 class="title-section bg text-uppercase">Les plus vendues</h4>
            </header>

            <div class="row-sm">

                {% for product in products %}
                <div class="col-md-3">
                    <figure class="card card-product">
                        <div class="img-wrap"> <img src="images/items/4.jpg"></div>
                        <figcaption class="info-wrap">
                            <h6 class="title "><a href="#">{{product.name}} </a></h6>
                            <div class="price-wrap">
                                <span class="price-new">Prix: {{product.price}}</span>
                                <span class="price-old">Marque: {{product.mark.name}}</span>
                                <span class="product-old">Model: {{product.model.name}}</span>
                            </div> <!-- price-wrap.// -->

                        </figcaption>
                    </figure> <!-- card // -->
                </div> <!-- col // -->
                {% endfor %}

            </div> <!--//row-->


        </div><!-- container // -->
    </section>
    <!-- ========================= SECTION ITEMS .END// ========================= -->



    <!-- ========================= SECTION SUBSCRIBE ========================= -->
    <section class="section-subscribe bg-secondary padding-y-lg">
        <div class="container">

            <p class="pb-2 text-center white">Delivering the latest product trends and industry news straight to your inbox</p>

            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-sm-6">
                    <form class="row-sm form-noborder">
                        <div class="col-8">
                            <input class="form-control" placeholder="Your Email" type="email">
                        </div> <!-- col.// -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                        </div> <!-- col.// -->
                    </form>
                    <small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
                </div> <!-- col-md-6.// -->
            </div>


        </div> <!-- container // -->
    </section>

{% endblock %}