{% extends 'base.html.twig' %}
{% block head %}
    {% block title %}produits par catégorie {% endblock %}
{% endblock %}
{% block body %}
    <div class="container">
    <div class="card m-4 p-4">
        <section class="section-request bg padding-y-sm">
            <div class="container">
                <header class="section-heading heading-line">
                    <h4 class="title-section bg text-uppercase">
                        {% for categorie in category %}
                           {{categorie.name}}
                        {% endfor %}
                    </h4>
                </header>

                <div class="row-sm">

                    {% for product in products %}
                        {% for categorie in category %}
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="/menu/{{ product.categorie.slug }}/{{ product.slug }}"> <div class="img-wrap"> <img src="/images/products/{{product.image.path }}"></div></a>
                                <figcaption class="info-wrap">
                                    <h6 class="title "><a href="/menu/{{ categorie.slug }}/{{product.slug}}">{{product.name}} </a></h6>
                                    <div class="price-wrap">
                                        <span class="price-new">Prix: {{product.price}} €</span></br>
                                        <span class="price-old">Marque: {{product.name}} </span></br>
                                        <span>
                                    <a href="#" class="btn btn-outline-danger add-to-cart" id="{{ product.id }}"
                                       data-name="{{ product.name }}" data-price="{{ product.price }}"
                                       data-image="{{ product.image ? product.image.path : '#' }}"
                                    >
                                        Ajouter au Panier
                                    </a>
                                </span></br>
                                    </div> <!-- price-wrap.// -->

                                </figcaption>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->

                    {% else %}
                    <tr>
                        <td colspan="3">Aucune produit à afficher</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}

                </div> <!--//row-->
            </div><!-- container // -->
        </section>
        </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}