{% extends 'base.html.twig' %}

{% block title %} choisir l'adresse et la livraison {% endblock %}

{% block body %}
    <section class="section-main bg padding-y-sm">
    <div class="container">
        <div class="card-body">
            <h3> Choississez le mode de livraison </h3>
            <div class="row">
                <div class="col m-2">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="livraisonRadioColissimo" name="livraisonRadio" class="custom-control-input">
                        <label class="custom-control-label" for="livraisonRadioColissimo"> Livraison rapide colissimo</label>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="livraisonRadioMondialRealais" name="livraisonRadio" class="custom-control-input">
                        <label class="custom-control-label" for="livraisonRadioMondialRealais">  Retrait Mondial-Relais</label>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="livraisonRadioMagasin" name="livraisonRadio" class="custom-control-input">
                        <label class="custom-control-label" for="livraisonRadioMagasin">  Retrait au magasin </label>
                    </div>
                </div>
            </div>
            <h3> choississez votre adresse ou modifiez la : </h3>
            <div class="custom-control custom-radio">
                <input type="radio" id="adresseRadio" name="adresseRadio" class="custom-control-input">
                <label class="custom-control-label" for="adresseRadio">  {{ adress.street }} , {{ adress.zipcode }}  {{ adress.city }}   {{ adress.country }}</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="adresseRadioChanger" name="adresseRadio" class="custom-control-input">
                <label class="custom-control-label" for="adresseRadioChanger"> Entrez votre nouvelle adresse </label>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <a href="{{ path('payment') }}" class="btn btn-success "> Valider la commande et payer </a>

        </div>
    </div>
    </section>

{% endblock %}
