<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Panneau d'administration </title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.jpg">

    <link href="{{ asset('assets/admin.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Menu Toggle Script -->

    <!-- google icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">


</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="{{ path('admin') }}" > <i class="fas fa-home black" > </i> Tabeau de bord </a>
        </div>

        <div class="list-group list-group-flush">
            <a href="{{ path('user_index')}}" class="list-group-item list-group-item-action bg-light">Utilisateurs</a>
            <a href="{{ path('categorie_index')}}" class="list-group-item list-group-item-action bg-light">Catégories</a>
            <a href="{{ path('product_index') }}" class="list-group-item list-group-item-action bg-light">Produits</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Imgaes</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Commandes</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Livraisons</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Retours</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Factures</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn" id="menu-toggle"><i class="material-icons" style="font-size:36px">menu</i></button>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <div class="row">
                        <a class="nav-link" href="#"> Administrateur: <span style="color:firebrick">{{ app.user.lastname }} {{ app.user.firstname }} ({{ app.user.email }}) </span></a>
                        <a role="button" class="btn btn-secondary" href="{{ path('home') }}" target="_blank"> Site </a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
{% block container %}
        <div class="container-fluid ">
            <div class="row pt-5 pb-9">
                <div class="col-3 "> <a class="d-block text-center" href="{{ path('user_index') }}" > <span class="d-block" style="font-size: 10em; color: Tomato;">  <i class="fas fa-user"></i>  </span> Utilisateurs </a></div>
                <div class="col-3 "> <a class="d-block text-center" href="{{ path('categorie_index') }}" > <span class="d-block" style="font-size: 10em; color: Tomato;"> <i class="fas fa-list"></i> </span> Catégories </a></div>
                <div class="col-3"> <a class="d-block text-center" href="{{ path('product_index') }}" >  <span class="d-block" style="font-size: 10em; color: Tomato;"> <i class="fas fa-laptop"></i> </span> Produits </a></div>
                <div class="col-3"> <a class="d-block text-center" href="{{ path('user_index') }}" >  <span class="d-block" style="font-size: 10em; color: Tomato;"> <i class="fas fa-images"></i> </span> Images </a></div>
            </div>
            <div class="pt-5"></div>
            <div class="row  pt-5 ">
                <div class="col-3"> <a class="d-block text-center" href="{{ path('user_index') }}" >  <span class="d-block" style="font-size: 10em; color: Tomato;"><i class="fas fa-shopping-cart"></i> </span> Commandes </a></div>
                <div class="col-3"> <a class="d-block text-center" href="{{ path('user_index') }}" >  <span class="d-block" style="font-size: 10em; color: Tomato;"> <i class="fas fa-truck"></i> </span> Livraisons </a></div>
                <div class="col-3 "> <a class="d-block text-center" href="{{ path('user_index') }}" > <span class="d-block"style="font-size: 10em; color: Tomato;"> <i class="fas fa-undo"></i> </span> Retours </a></div>
                <div class="col-3 "> <a class="d-block text-center" href="{{ path('user_index') }}" > <span class="d-block" style="font-size: 10em; color: Tomato;"> <i class="fas fa-euro-sign"></i> </span> Facturation </a></div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
